$phone-width: 375px;
$pink-color: rgb(250, 238, 243);
$padding: 10px;

.App {
  text-align: center;
  background-color:whitesmoke;
}

.about-pic{
  height: auto;
  width: 100%;
  position: relative;
  text-align: center;
}

.bottom-of-cart{
  padding: $padding;
}

.total{
  padding: $padding;
}

.about-w{
  font-size: larger;
  padding: 30px;
}

.product-flex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 30px;
}

.Footer{
  display: flex;
  justify-content: center;
}
.footer{
  background-color: $pink-color;
  padding: 3px;
}

.product-container{
  width: 300px;
}

.product-image{
  width: 300px;
}

.auth-modal{
  width: 150px;
  height: 100px;
  margin: 0 auto;
}

.Header{
  height: 10vh;
  background-color: $pink-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}

.subscribe{
  font-size: 25px;
}

a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#mobile-nav{
  display: none;
  font-weight: bold;
  font-size: 30px;
}

#dropdown{
  height: 80px;
  width: 100%;
  top: 18px;
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  animation: open 500ms;
  overflow: hidden;
  z-index: 10;
}

.cust-review{
  color: white;
  font-size: larger;
  padding: 15px;
  background-color: rgb(215, 128, 173);
}
@keyframes open{
  from{
    height: 0px;
  }
  to{
    height: 80px;
  }
}

@media(max-width: 375px){
  #desktop-nav{
    display: none;
  }
  #mobile-nav{
    display: initial;
  }
}